*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

    background-image:url(adene.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
}
.menubar{
    background-color: rgb(53, 33, 156);
    text-align: center;
}
.menubar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menubar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    
}
.menubar ul li a
{
    text-decoration: none;
color: #fff;
}
.active,.menubar ul li:hover
{
    background: #2d254b;
    border-radius: 3px;
}
.article{
    width: 50%;
    margin: auto;
    text-align: center;
    transform: translateY(25vh);
}
.article h1{
    font-size: 18px;
    color: #0f0d0d;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin-bottom: 25px;
    font-family: 'ARIAL';

}